asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2.3
django-cors-headers==4.7.0
djangorestframework==3.16.0
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
python-decouple==3.8
requests==2.32.4
smmap==5.0.2
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0